body {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    text-align: center;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    justify-content: center;
    border-radius: 20px;
    height: 400px;
    background-color: white;
    padding: 5px;
}

.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-img {
    background: url("./images/image-qr-code.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 240px;
    border-radius: 10px;
    height: 240px;
}

h1 {
    font-size: 18px;
    padding: 0 20px;
    margin-bottom: 0;
}

p {
    font-size: 13px;
    color: hsl(220, 15%, 55%);
    padding: 0 15px;
}